html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 960px;
}

footer {
  margin-top: auto;
}

.text-center {
  text-align: center;
}

.p-1 {
  padding: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
